<%= month_calendar events: events do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div class="user-calendar">
      <% if event.is_a?(PostWorkout) %>
        <%= link_to 'ðŸ‹ï¸',post_workout_path(event) %>
      <% elsif event.is_a?(PostMeal) %>
        <%= link_to 'ðŸ¥—',post_meal_path(event) %>
      <% elsif event.is_a?(PostBlog) %>
      <%= link_to 'ðŸ“',post_blog_path(event) %>
      <% end %>
    </div>
  <% end %>
<% end %>
