<div class="d-flex justify-content-center align-items-center gap-4">
  <div><%= image_tag end_user.get_profile_image(80, 80) ,class: "rounded-circle img-thumbnail" %></div>
  <div class="user-profile">
    <h4><%= end_user.user_name %></h4>
    <p>1日の目標カロリー: <%= end_user.target_calorie.blank? ? '未設定' : "#{end_user.target_calorie}kcal/日" %></p>

    <!-- 1日のカロリー計算 -->
    <% total_calorie = 0 %>
    <% @end_user.post_meals.each do |post_meal| %>
      <% post_meal.meal_menus.each do |menu| %>
        <% if post_meal.start_time.today? %>
          <% total_calorie += menu.calorie %>
        <% end %>
      <% end %>
    <% end %>
    <p>今日の合計カロリー: <%= total_calorie %>カロリー</p>

    <!-- カロリーの達成率を計算 -->
    <% target_calorie = @end_user.target_calorie %>
    <% if target_calorie.present? %>
      <% achievement_rate = [(total_calorie / target_calorie.to_f) * 100, 100].min %>

      <!-- プログレスバーの表示 -->
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: <%= achievement_rate %>%;" aria-valuenow="<%= achievement_rate %>" aria-valuemin="0" aria-valuemax="100">
        </div>
        <%= total_calorie %> / <%= target_calorie %> カロリー
      </div>
      <p>（達成率 <%= achievement_rate.round(2) %> %）</p>
    <% end %>

    <p>自己紹介</p>
    <p>
      <%= end_user.introduction.blank? ? '未設定' : end_user.introduction %>
    </p>
    <div class=" d-flex justify-content-between">
      <p><%= link_to end_user.followers.count, followeds_end_user_path(end_user), class: 'card-link' %>フォロー中</p>
      <p><%= link_to end_user.followeds.count, followers_end_user_path(end_user), class: 'card-link' %>フォロワー</p>
    </div>
    <% if current_end_user != end_user %>
      <% if current_end_user.following?(end_user)%>
      <p>
        <%= link_to "フォロー中", end_user_relationships_path(end_user.id), method: :delete, class: "btn btn-danger" %>
      </p>
      <% else %>
      <p>
        <%= link_to "フォローする", end_user_relationships_path(end_user.id), method: :post, class:"btn btn-success" %>
      </p>
      <% end %>
    <% end %>
  </div>
</div>

