<div class="d-flex justify-content-center">
  <div><%= image_tag end_user.get_profile_image(150, 150) %></div>
  <div class="">
    <h5><%= end_user.user_name %></h5>

    <% if current_end_user != end_user %>
      <% if current_end_user.following?(end_user)%>
      <p class="">
        <%= link_to "フォロー外す", end_user_relationships_path(end_user.id), method: :delete, class: "btn btn-danger" %>
      </p>
      <% else %>
      <p class="">
        <%= link_to "フォローする", end_user_relationships_path(end_user.id), method: :post, class:"btn btn-success" %>
      </p>
      <% end %>
    <% end %>
    <h5 class="">目標カロリー</h5>
    <p class="">
      <%= end_user.target_calorie.blank? ? '未設定' : "#{end_user.target_calorie}kcal/日" %>
    </p>
    <h5 class="">Introduction</h5>
    <p class="">
      <%= end_user.introduction.blank? ? '未設定' : end_user.introduction %>
    </p>
    <div class=" d-flex justify-content-between">
      <p><%= link_to end_user.followers.count, followeds_end_user_path(end_user), class: 'card-link' %>フォロー中</p>
      <p><%= link_to end_user.followeds.count, followers_end_user_path(end_user), class: 'card-link' %>フォロワー</p>
    </div>
  </div>
</div>

