<div class="user-followers container mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <% if @end_user.follower_end_users.present? %>
        <h2>Followers List</h2>
        <div class="user-followers__wrapper d-flex flex-column justify-content-center mt-4 gap-2">
          <% @end_user.follower_end_users.each do |end_user| %>
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <%= image_tag end_user.get_profile_image(50, 50) %>
              <p style="margin: 0px;"><%= link_to end_user.user_name, end_user_path(end_user) %></p>
              <p style="margin: 0px;">Followings</p>
              <p style="margin: 0px;"><%= link_to followeds_end_user_path(end_user) do %>
                <p style="margin: 0px;"><%= end_user.followers.count %></p>
              <% end %></p>
              <p style="margin: 0px;">Followees</p>
              <p style="margin: 0px;"><%= link_to followers_end_user_path(end_user) do %>
                <p style="margin: 0px;"><%= end_user.followeds.count %></p>
              <% end %></p>
              <% if current_end_user != end_user %>
                <% if current_end_user.following?(end_user)%>
                  <p style="margin: 0px;"><%= link_to "フォロー外す", end_user_relationships_path(end_user.id), method: :delete, class: "btn btn-sm" %></p>
                <% else %>
                  <p style="margin: 0px;"><%= link_to "フォローする", end_user_relationships_path(end_user.id), method: :post, class:"btn btn-sm" %></p>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <h4>フォローされているユーザーはいません</h4>
      <% end %>
    </div>
  </div>
</div>
