<div class="container mt-4">
  <% if @end_user.following_end_users.present? %>
    <h2>フォロー中のユーザー</h2>
    <% @end_user.following_end_users.each do |end_user| %>
      <%= image_tag end_user.get_profile_image(100, 100) %>
      <h2>ユーザー名</h2>
        <p><%= link_to end_user.first_name, end_user_path(end_user) %></p>
      <h6>フォロー中</h6>
      <%= link_to  followeds_end_user_path(end_user) do %>
        <%= end_user.followers.count %>
      <% end %>
      <h6>フォロワー</h6>
      <%= link_to followers_end_user_path(end_user) do %>
        <%= end_user.followeds.count %>
      <% end %>
      <% if current_end_user != end_user %>
        <% if current_end_user.following?(end_user)%>
          <%= link_to "フォロー外す", end_user_relationships_path(end_user.id), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "フォローする", end_user_relationships_path(end_user.id), method: :post, class:"btn btn-success" %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <h2>フォロー中のユーザーはいません</h2>
  <% end %>
</div>