<div class="container mt-4">
  <h1>Plofile Details</h1>
  <p>※This page will not be displayed to other users</p>
  <div>
    <div class="row">
      <div>
        <div>
          <%= image_tag current_end_user.get_profile_image(100,100) %>
        </div>
        <div>
          <h2>User Name</h2>
          <p><%= @end_user.full_name unless @end_user.target_calorie.blank? %></p>
        </div>
        <div>
          <h2>E-Mail</h2>
          <p><%= @end_user.email%></p>
        </div>
        <div>
          <h2>Target Calorie</h2>
          <p><%= @end_user.target_calorie.blank? ? '未設定' : "#{@end_user.target_calorie} kcal/日" %></p>
        </div>
        <div>
          <h2>Introduction</h2>
          <p><%= @end_user.introduction.blank? ? '未設定' : @end_user.introduction %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <h2>Height</h2>
        <p><%= @end_user.height %></p>
        <h2>Weight</h2>
        <p><%= @end_user.body_weight %></p>
        <h2>Age</h2>
        <p><%= @end_user.age %></p>
        <h2>Sex</h2>
        <p><%= @end_user.sex_i18n %></p>
        <h2>Target Weight</h2>
        <p><%= @end_user.target_weight %></p>
        <h2>Active Level</h2>
        <p><%= @end_user.activelevel_i18n %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <%= link_to "Edit", edit_end_user_path, :class => "btn btn-success ms-3" %>
    <%= link_to "Withdrawal", end_users_check_path, :class => "btn btn-danger ms-3" %>
  </div>
</div>
