<div class="container mt-4">
  <h1>プロフィール詳細</h1>
  <p>※このページは他ユーザーには表示されません</p>
  <div>
    <div class="row">
      <div>
        <div>
          <% if @end_user.image.attached? %>
            <%= image_tag @end_user.image, class: "profile-image" %>
          <% else %>
            <%= image_tag 'noimage.jpg', class: "no-image" %>
          <% end %>
        </div>
        <div>
          <h2>ユーザー名</h2>
          <p><%= @end_user.full_name unless @end_user.target_calorie.blank? %></p>
        </div>
        <div>
          <h2>メールアドレス</h2>
          <p><%= @end_user.email%></p>
        </div>
        <div>
          <h2>目標カロリー</h2>
          <p><%= @end_user.target_calorie.blank? ? '未設定' : "#{@end_user.target_calorie} kcal/日" %></p>
        </div>
        <div>
          <h2>自己紹介</h2>
          <p><%= @end_user.introduction.blank? ? '未設定' : @end_user.introduction %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <h2>身長</h2>
        <p><%= @end_user.height %></p>
        <h2>体重</h2>
        <p><%= @end_user.body_weight %></p>
        <h2>年齢</h2>
        <p><%= @end_user.age %></p>
        <h2>性別</h2>
        <p><%= @end_user.sex_i18n %></p>
        <h2>目標体重</h2>
        <p><%= @end_user.target_weight %></p>
        <h2>活動レベル</h2>
        <p><%= @end_user.activelevel_i18n %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <%= link_to "編集", end_users_information_edit_path, :class => "btn btn-success ms-3" %>
    <%= link_to "退会", end_users_check_path, :class => "btn btn-danger ms-3" %>
  </div>
</div>
