<div class="user-page mt-4">
  <div class="user-page__container">
    <div class="row justify-content-center p-4" style="--bs-gutter-x: none;">
      <div class="user-page__profile col-sm-5 d-flex align-items-center">
        <%= render "public/end_users/profile", end_user: @end_user, events: @events, post_meals: @post_meals %>
      </div>
      <div class="user-profile__calendar col-sm-3">
        <h4 class="fw-bold">Posting Calender</h4>
        <div id="calendar">
          <%= render 'public/end_users/calendar', events: @events %>
        </div>
      </div>
    </div>
    
    <ul class="nav nav-tabs justify-content-center col-sm-8">
      <li class="nav-item col col-sm-auto">
        <a class="nav-link active" data-bs-toggle="tab" href="#fitness">Fitness</a>
      </li>
      <li class="nav-item col col-sm-auto">
        <a class="nav-link" data-bs-toggle="tab" href="#meal">Meal</a>
      </li>
      <li class="nav-item col col-sm-auto">
        <a class="nav-link" data-bs-toggle="tab" href="#liked">Liked Posts</a>
      </li>
    </ul>
    
    <div class="user-page__wrapper tab-content pt-4 pb-4">
      <div class="user-page__posts tab-pane fade show active mx-auto col-sm-8" id="fitness">
        <h2>Post Fitness</h2>
        <% if @post_workouts.count > 0 %>
          <p class="text-center pt-4">総投稿数: <%= @post_workouts.count %></p>
        <% end %> 
        <div class="post_workout d-flex justify-content-center mt-2 pb-4">
          <% if @post_workouts.exists? %>
            <%= render "public/post_workouts/index", post_workouts: @post_workouts  %>
          <% else %>
            <div class="user-page__empty-posts">
              <p class="text-center pt-4">投稿はありません</p>
              <%= image_tag 'undraw_Post_re_mtr4.png', class: 'yet-image rounded-3 img-fluid' %>
            </div>
          <% end %> 
        </div>
      </div>
      <div class="tab-pane fade mx-auto col-sm-8" id="meal">
        <h2>Post Meal</h2>
        <% if @post_meals.count > 0 %>
          <p class="text-center pt-4">総投稿数: <%= @post_meals.count %></p>
        <% end %> 
        <div class="posts__meal d-flex justify-content-center mt-2 mb-4">
          <% if @post_meals.exists? %>
            <%= render "public/post_meals/index", post_meals: @post_meals %>
          <% else %>
            <div class="user-page__empty-posts">
              <p class="text-center pt-4">投稿はありません</p>
              <%= image_tag 'undraw_Post_re_mtr4.png', class: 'yet-image rounded-3 img-fluid' %>
            </div>
          <% end %> 
        </div>
      </div>
      <div class="tab-pane fade mx-auto col-sm-8" id="liked">
        <h2 class="text-center">Liked Posts</h2>
          <div class="liked_posts  justify-content-center mt-2 mb-4">
            <% if @liked_post_workouts.present? %>
              <div><p class="badge bg-primary ms-4">Fitness</p><%= render "public/post_workouts/index", post_workouts: @liked_post_workouts %></div>
              <div><p class="badge bg-success ms-4">Meal<%= render "public/post_meals/index", post_meals: @liked_post_meals %></div>
              <div><p class="badge bg-warning ms-4">Blog<%= render "public/post_blogs/index", post_blogs: @liked_post_blogs %></div>
            <% else %>
              <div class="user-page__empty-posts mx-auto">
                <p class="text-center pt-4">いいねした投稿はありません</p>
                <%= image_tag 'undraw_Post_re_mtr4.png', class: 'yet-image rounded-3 img-fluid mx-auto' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>