<%= form_with model: post_workout , local: true do |f| %>
  <div class="form-group">
    <div>
      <label>画像</label>
      <%= f.file_field :image, accept: "image/*", class: 'form-control' %>
    </div>
    <div>
      <label>日付</label>
      <%= f.date_field :start_time, class: 'form-control' %>
    </div>
    <div>
      <label>タイトル</label>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div>
      <label>部位</label>
    <% PostWorkout.sites.each do |key, value| %>
      <%= f.radio_button :site, key %>
      <%= f.label "site_#{key}", t("activerecord.attributes.post_workout.sites.#{key}") %>
    <% end %>
    </div>
    <div>
      <label>時間</label>
      <%= f.number_field :time, class: 'form-control' %>
    </div>
    <div>
      <label>メモ</label>
      <%= f.text_field :memo, class: 'form-control' %>
    </div>
    <div>
      <label>タグ(,で区切ると複数タグ登録できます)</label>
      <%= f.text_field :name,value: @tag_list, class: 'form-control' %>
    </div>
    <div>
    <% if post_workout.new_record? %>
      <%= f.submit '新規作成', class: "btn btn-success mt-4" %>
    <% else %>
      <%= f.submit '更新する', class: "btn btn-success mt-4" %>
    <% end %>
    </div>
  </div>
<% end %>
  