<%= form_with model: post_workout , local: true do |f| %>
  <div class="post-workout m-4">
    <label>画像</label>
    <%= f.file_field :image, accept: "image/*", class: 'form-control mb-2', onchange: "previewImage(this);" %>
    <div id="image-preview"></div>
    <label>日付</label>
    <%= f.date_field :start_time, class: 'form-control mb-2' %>
    <label>タイトル</label>
    <%= f.text_field :title, class: 'form-control mb-2' %>
    <div class="post-workout__site">

      <label>トレーニング部位</label><br>
      <% PostWorkout.sites.each do |key, value| %>
        <%= f.radio_button :site, key %>
        <%= f.label "site_#{key}", t("activerecord.attributes.post_workout.sites.#{key}"), class: 'mb-2' %>
      <% end %>
    </div>
    
    <label>時間</label>
    <%= f.number_field :time, class: 'form-control mb-2' %>
    <label>メモ</label>
    <%= f.text_field :memo, class: 'form-control mb-2' %>

    <!-- 筋トレメニュー追加フォーム -->
    <div class="post-workout__menu">
      <div class="post-workout__menu-list mt-3" id="post-workout-menus">
        <%= f.fields_for :workout_menus do |menu_form| %>
          <div class="post-workout__menu-detail row mb-3 p-4 rounded" style="display: <%= 'none' if post_workout.new_record? %>;">
            <label>種目</label>
            <%= menu_form.text_field :title, class: 'form-control' %>
            <label>重量</label>
            <%= menu_form.number_field :weight, class: 'form-control', step: '0.1', min: '0' %>
            <label>レップ</label>
            <%= menu_form.number_field :reptition_count, class: 'form-control', step: '1', min: '0' %>
            <label>セット数</label>
            <%= menu_form.number_field :set_count, class: 'form-control', step: '1', min: '0' %>
          </div>
        <% end %>
      </div>
      <div class="post-workout__menu-button mt-3 mb-3">
        <% if post_workout.new_record? %>
        <button id="add-menu-button" type="button" class="btn btn-secondary w-100 mb-2">筋トレメニュー追加はこちらから</button>
        メニューは5つまで追加可能
        <button id="hide-menu-button" type="button" class="btn btn-secondary rounded-circle"><i class="fa-sharp fa-solid fa-minus"></i></button>
        <% end %>
      </div>
    </div>

    <div class="post-workout__field">
      <label>タグ(,で区切ると複数タグ登録できます)</label>
      <%= f.text_field :name,value: tag_list, class: 'form-control mb-2' %>
    </div>
    <div class="post-workout__submit-field text-center">
      <% if post_workout.new_record? %>
        <%= f.submit '新規作成', class: "btn btn-success mt-2" %>
      <% else %>
        <%= f.submit '更新する', class: "btn btn-success mt-2" %>
      <% end %>
    </div>
  </div>
<% end %>
  
<!--「筋トレメニュー追加はこちらから」の選択時に発火-->
<script>
  //クリック時、筋トレメニュー追加フォーム表示するイベントリスナー
  document.getElementById("add-menu-button").addEventListener("click", function() {
    var container = document.getElementById("post-workout-menus");
    var workoutMenus = container.getElementsByClassName("post-workout__menu-detail");
    
    // 非表示のフォームを検索し、最初の非表示フォームを表示する
    for (var i = 0; i < workoutMenus.length; i++) {
      console.log("workoutMenus.length: ",workoutMenus.length)
      if (workoutMenus[i].style.display === "none") {
        workoutMenus[i].style.display = "flex";
        break;
      }
    }
  });
  //クリック時、筋トレメニュー追加フォーム非表示にするイベントリスナー
  document.getElementById("hide-menu-button").addEventListener("click", function() {
    var container = document.getElementById("post-workout-menus");
    var workoutMenus = container.getElementsByClassName("post-workout__menu-detail");
    
    // 非表示のフォームを検索し、最初の表示されているフォームを非表示にする
    for (var i = 0; i < workoutMenus.length; i++) {
      if (workoutMenus[i].style.display !== "none") {
        workoutMenus[i].style.display = "none";
        break;
      }
    }
  });

 // 画像のプレビューを表示する
  function previewImage(input) {
  var previewElement = document.getElementById('image-preview');
  // 既存のプレビューをクリア
  previewElement.innerHTML = ''; 

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    // 画像が読み込まれた時の処理
    reader.onload = function(e) {
      var image = document.createElement('img');
      image.src = e.target.result;
      image.classList.add('preview-image');

      previewElement.appendChild(image);
    };

    // 選択した画像を読み込む
    reader.readAsDataURL(input.files[0]);
  }
}
</script>