<%= form_with model: post_workout , local: true do |f| %>
  <div class="post-workout">
    <label>Image</label>
    <%= f.file_field :image, accept: "image/*", class: 'form-control' %>
    <label>Date</label>
    <%= f.date_field :start_time, class: 'form-control' %>
    <label>Title</label>
    <%= f.text_field :title, class: 'form-control' %>
    <div class="post-workout__site">
      <label>Site</label><br>
      <% PostWorkout.sites.each do |key, value| %>
        <%= f.radio_button :site, key %>
        <%= f.label "site_#{key}", t("activerecord.attributes.post_workout.sites.#{key}") %>
      <% end %>
    </div>
    <label>Time</label>
    <%= f.number_field :time, class: 'form-control' %>
    <label>Memo</label>
    <%= f.text_field :memo, class: 'form-control' %>

    <!-- 筋トレメニュー追加フォーム -->
    <div class="post-workout__menu">
      <div class="post-workout__menu-list mt-3" id="post-workout-menus">
        <%= f.fields_for :workout_menus do |menu_form| %>
          <div class="post-workout__menu-detail mb-3" style="display: <%= 'none' if post_workout.new_record? %>;">
            <label>Event</label>
            <%= menu_form.text_field :title, class: 'form-control' %>
            <label>Weight</label>
            <%= menu_form.number_field :weight, class: 'form-control', step: '0.1', min: '0' %>
            <label>Rep</label>
            <%= menu_form.number_field :reptition_count, class: 'form-control', step: '1', min: '0' %>
            <label>Set Count</label>
            <%= menu_form.number_field :set_count, class: 'form-control', step: '1', min: '0' %>
          </div>
        <% end %>
      </div>
      <div class="post-workout__menu-button mt-3 mb-3">
        <% if post_workout.new_record? %>
        <button id="add-menu-button" type="button" class="btn btn-light">筋トレメニュー追加はこちらから</button>
        メニューは5つまで追加可能
        <button id="hide-menu-button" type="button" class="btn btn-secondary"><i class="fa-sharp fa-solid fa-minus"></i></button>
        <% end %>
      </div>
    </div>

    <div class="post-workout__field">
      <label>Tag(,で区切ると複数タグ登録できます)</label>
      <%= f.text_field :name,value: tag_list, class: 'form-control' %>
    </div>
    <div class="post-workout__submit-field text-center">
      <% if post_workout.new_record? %>
        <%= f.submit '新規作成', class: "btn btn-success mt-4" %>
      <% else %>
        <%= f.submit '更新する', class: "btn btn-success mt-4" %>
      <% end %>
    </div>
  </div>
<% end %>
  
<!--「筋トレメニュー追加はこちらから」の選択時に発火-->
<script>
  document.getElementById("add-menu-button").addEventListener("click", function() {
    var container = document.getElementById("post-workout-menus");
    var workoutMenus = container.getElementsByClassName("post-workout__menu-detail");
    
    // 非表示のフォームを検索し、最初の非表示フォームを表示する
    for (var i = 0; i < workoutMenus.length; i++) {
      console.log("workoutMenus.length: ",workoutMenus.length)
      if (workoutMenus[i].style.display === "none") {
        workoutMenus[i].style.display = "flex";
        break;
      }
    }
  });

  document.getElementById("hide-menu-button").addEventListener("click", function() {
    var container = document.getElementById("post-workout-menus");
    var workoutMenus = container.getElementsByClassName("post-workout__menu-detail");
    
    // 非表示のフォームを検索し、最初の表示されているフォームを非表示にする
    for (var i = 0; i < workoutMenus.length; i++) {
      if (workoutMenus[i].style.display !== "none") {
        workoutMenus[i].style.display = "none";
        break;
      }
    }
  });
</script>