<div class="workout-index d-flex flex-wrap justify-content-center gap-4 pb-4">
  <% post_workouts.each do |post_workout| %>
    <div class="workout-index__wrapper p-3">
      <div class="workout-index__image">
        <%= link_to post_workout_path(post_workout), class: 'no-decoration' do %>
          <% if post_workout.image.attached? %>
            <%= image_tag post_workout.image, class: "fitness-image" %>
          <% else %>
            <%= image_tag 'noimage.jpg', class: "no-image" %>
          <% end %>
        <% end %>
      </div>
      <p><%= link_to post_workout.end_user.user_name, end_user_path(post_workout.end_user) %></p>
      <p><%= post_workout.title.truncate(18, omission: "...") %></p>
      <div class="workout-index__details d-flex gap-2">
        <%= " #{time_ago_in_words(post_workout.created_at)}前" %>
        <!-- いいね機能 -->  
        <span id="workout-like_<%= post_workout.id %>">
          <%= render "public/post_workouts/like-btn", post_workout: post_workout %>
        </span>
      </div>
    </div>
  <% end %>
</div>
