<div class="post-workout pt-4">
  <div class="post-workout__index row" style="--bs-gutter-x: none;">
    <div class="post-workout__header col-sm-8 d-flex justify-content-center">
      <h2>Post Fitness</h2>
      <p><%= link_to '投稿する', new_post_workout_path, class: 'btn btn-success mt-4 ms-4' %></p>
    </div>
    <ul class="nav nav-tabs col-sm-8 d-flex justify-content-center mt-4">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#all">全ユーザー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#followed">フォロー中のユーザー</a>
      </li>
    </ul>

    <div class="tab-content d-flex justify-content-center p-4">
      <div class="tab-pane fade show active col-sm-6" id="all">
        <!-- 全ユーザーの投稿を表示 -->
        <% if @post_workouts.exists? %>
          <%= render "index", post_workouts: @post_workouts %>
          <%= paginate @post_workouts %>
        <% else %>
          <div class="post-workout__empty-posts pt-4 pb-4">
            <h4 class="text-center pt-4 pb-4">投稿はありません</h4>
            <%= image_tag 'j285_5_1.png', class: 'yet-image rounded-3 img-fluid mx-auto d-block' %>
          </div>
        <% end %>
      </div>
      <div class="tab-pane fade col-sm-6" id="followed">
        <!-- フォロー中のユーザーの投稿を表示 -->
        <% if @followed_post_workouts.exists? %>
          <%= render "index", post_workouts: @followed_post_workouts %>
          <%= paginate @followed_post_workouts %>
        <% else %>
          <div class="post-workout__empty-posts pt-4 pb-4">
            <h4 class="text-center pt-4 pb-4">投稿はありません</h4>
            <%= image_tag 'j285_5_1.png', class: 'yet-image rounded-3 img-fluid mx-auto d-block' %>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
</div>