<div class="post-workout pt-4">
  <div class="post-workout__index row">
    <div class="post-workout__header col-sm-8 d-flex justify-content-center">
      <h2>List of fitness posts</h2>
      <p><%= link_to '投稿する', new_post_workout_path, class: 'btn ms-4' %></p>
    </div>
    <!--タグリスト-->
    <div class="post-workout__tag col-sm-8 d-flex justify-content-center">
      <% @tag_list.each do |list|%>
        <p><i class="fa-sharp fa-solid fa-tag"></i>
        <%=link_to list.name,search_workout_tag_path(workout_tag_id: list.id) %></p>
        <p><%="(#{list.post_workouts.count})" %></p>
      <% end %>
    </div>
    <ul class="nav nav-tabs col-sm-8 d-flex justify-content-center mt-4">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#all">全ユーザー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#followed">フォロー中のユーザー</a>
      </li>
    </ul>

    <div class="tab-content  d-flex justify-content-center pt-4">
      <div class="tab-pane fade show active col-sm-8" id="all">
        <% if @post_workouts.exists? %>
          <!-- 全ユーザーの投稿を表示 -->
          <%= render "index", post_workouts: @post_workouts %>
        <% else %>
          <div class="post-workout__empty-posts">
            <p class="text-center">投稿はありません</p>
          </div>
        <% end %>
      </div>
      <div class="tab-pane fade col-sm-8" id="followed">
        <% if @followed_post_workouts.exists? %>
          <!-- フォロー中のユーザーの投稿を表示 -->
          <%= render "index", post_workouts: @followed_post_workouts %>
        <% else %>
          <div class="post-workout__empty-posts">
            <p class="text-center">投稿はありません</p>
          </div>
        <% end %> 
      </div>
      <div class="post-workout__paginate d-flex justify-content-center pt-4">
        <%= paginate @post_workouts , theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
</div>