<div class="container wor%kout-wrapper mt-4">
  <h2>フィットネス投稿詳細</h2>

  <div class="enduser-wrapper mb-4 d-flex justify-content-center">
    <%= image_tag @post_workout.end_user.get_profile_image(100, 100) %>
    <p><%= @post_workout.end_user.first_name %></p>
  </div>

  <div class="workout d-flex">
    <div class="workout-menu">
      <h2><%= @post_workout.date.strftime("%Y-%m-%d") %></h2>
      <% if @post_workout.image.attached? %>
        <%= image_tag @post_workout.image, class: "fitness-image" %>
      <% else %>
        <%= image_tag 'noimage.jpg', class: "no-image" %>
      <% end %>
    </div>
    <div class="workout-menu">
      <h2>タイトル</h2>
      <p><%= @post_workout.title %></p>
      <h2>部位</h2>
      <p><%= @post_workout.site_i18n %></p>
      <h2>時間</h2>
      <p><%= @post_workout.time %>分</p>
      <h2>メモ</h2>
      <p><%= @post_workout.memo %></p>
      <!-- いいね機能 -->
      <span id="workout_likes_<%= @post_workout.id %>">
        <%= render "like-btn", post_workout: @post_workout %>
      </span>
      <%= link_to "いいね", workout_likes_end_user_path %>
      <!-- コメント機能 -->
      <p>コメント件数:<%= @post_workout.workout_comments.count %></p>
      <div id="workout-comments">
        <%= render 'comment-index', post_workout: @post_workout %>
      </div>
      <div id="comment-form">
        <%= render 'comment-form', post_workout: @post_workout, workout_comment: @workout_comment %>
      </div>
    </div>
  </div>
  <div class="workout-menu-link">
    <%= link_to "編集", edit_post_workout_path, :class => "btn btn-success ms-3" %>
    <%= link_to "削除", post_workout_path, method: :delete, data: { confirm: "本当に削除しますか？" } , :class => "btn btn-danger ms-3" %>
  </div>
</div>
