<div class="container workout mt-4">
  <h2>Fitness Post Details</h2>

  <div class="workout__enduser mb-4 d-flex justify-content-center">
    <%= image_tag @post_workout.end_user.get_profile_image(100, 100) %>
    <p><%= link_to @post_workout.end_user.first_name, end_user_path(@post_workout.end_user) %></p>
  </div>

  <div class="workout__wrapper d-flex">
    <div class="workout__item">
      <h2><%= @post_workout.start_time.strftime("%Y-%m-%d") %></h2>
      <% if @post_workout.image.attached? %>
        <%= image_tag @post_workout.image, class: "fitness-image" %>
      <% else %>
        <%= image_tag 'noimage.jpg', class: "no-image" %>
      <% end %>
    </div>
    <div class="workout__item">
      <h2>Title</h2>
      <p><%= @post_workout.title %></p>
      <h2>Site</h2>
      <p><%= @post_workout.site_i18n %></p>
      <h2>Time</h2>
      <p><%= @post_workout.time %>分</p>
      <h2>Memo</h2>
      <p><%= @post_workout.memo %></p>

      <h4>WorkoutMenu</h4>
      <% @post_workout.workout_menus.each do |menu| %>
        <div class="workout__item--menu">
          <h2>Event</h2>
          <p><%= menu.title %></p>
          <h2>Weight</h2>
          <p><%= menu.weight %>kg</p>
          <h2>Reptition Count</h2>
          <p><%= menu.reptition_count %>rep</p>
          <h2>Set count</h2>
          <p><%= menu.set_count %>set</p>
        </div>
      <% end %>

      <!-- いいね機能 -->
      <div class="workout__item--like">
        <span id="workout__item--like_<%= @post_workout.id %>">
          <p><%= render "public/post_workouts/like-btn", post_workout: @post_workout %></p>
        </span>
        <%= link_to "いいね", workout_likes_end_user_path %>
      </div>
      <!-- タグ機能 -->
      <% @post_workout_tags.each do |tag| %>
      <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to tag.name,search_workout_tag_path(workout_tag_id: tag.id) %>
      <% end %>
      <!-- コメント機能 -->
      <p>Number of comments:<%= @post_workout.workout_comments.count %></p>
      <div id="workout__item--comment">
        <%= render 'comment-index', post_workout: @post_workout %>
      </div>
      <div id="workout__item--form">
        <%= render 'comment-form', post_workout: @post_workout, workout_comment: @workout_comment %>
      </div>
    </div>
  </div>
  <div class="workout__menu--link">
    <%= link_to "編集", edit_post_workout_path, :class => "btn btn-success ms-3" %>
    <%= link_to "削除", post_workout_path, method: :delete, data: { confirm: "本当に削除しますか？" } , :class => "btn btn-danger ms-3" %>
  </div>
</div>
