<div class="top container mt-4">
  <%= link_to homes_about_path do %>
    <%= image_tag 'logo3.png', class: 'logo-image' %>
  <% end %>
  <h2>Post Workouts</h2>
  <%= render "public/post_workouts/index", post_workouts: @post_workouts %>
  <h2>Post Meals</h2>
  <%= render "public/post_meals/index", post_meals: @post_meals %> 
  <h2>Post Blogs</h2>
  <%= render "public/post_blogs/index", post_blogs: @post_blogs %>  
</div>
