<%= form_with model: post_meal , local: true do |f| %>
  <div class="form-group">
      <div>
        <label>画像</label>
        <%= f.file_field :image, accept: "image/*", class: 'form-control' %>
      </div>
      <div>
        <label>日付</label>
        <%= f.date_field :start_time,  class: 'form-control' %>
      </div>
      <div>
        <label>タイミング</label><br>
        <% PostMeal.timings.each do |key, value| %>
          <%= f.radio_button :timing, key %>
          <%= f.label "timing_#{key}", t("activerecord.attributes.post_meal.timings.#{key}") %>
        <% end %>
      </div>
      <div>
        <label>食事タイプ</label><br>
        <% PostMeal.meal_types.each do |key, value| %>
          <%= f.radio_button :meal_type, key %>
          <%= f.label "meal_type_#{key}", t("activerecord.attributes.post_meal.meal_types.#{key}") %>
        <% end %>
      </div>
      <div>
        <label>メモ</label>
        <%= f.text_field :memo, class: 'form-control' %>
      </div>
      <!-- meal_menus form -->
      <div class="post-meal-menus">
        <div class="meal-menus-container" id="meal-menus">
          <%= f.fields_for :meal_menus do |menu_form| %>
            <div class="meal-menu" style="display: <%= 'none' if post_meal.new_record? %>;">
              <div class="form-group">
                <label>メニュー</label>
                <%= menu_form.text_field :title, class: 'form-control' %>
              </div>
              <div class="form-group">
                <label>量(g)</label>
                <%= menu_form.number_field :quantity, class: 'form-control', step: '1', min: '0' %>
              </div>
              <div class="form-group">
                <label>カロリー</label>
                <%= menu_form.number_field :calorie, class: 'form-control', step: '1', min: '0' %>
              </div>
            </div>
          <% end %>
        </div>
      <div class="mt-3 mb-3">
        <% if post_meal.new_record? %>
        <button id="add-menu-button" type="button" class="btn btn-light">メニュー追加はこちらから</button>
        メニューは5つまで追加可能
        <button id="hide-menu-button" type="button" class="btn btn-secondary"><i class="fa-sharp fa-solid fa-minus"></i></button>
        <% end %>
      </div>
    </div>
    <label>タグ(,で区切ると複数タグ登録できます)</label>
      <%= f.text_field :name,value: @tag_list, class: 'form-control' %>
    <div>
      <% if post_meal.new_record? %>
        <%= f.submit '新規作成', class: "btn btn-success mt-4" %>
      <% else %>
        <%= f.submit '更新する', class: "btn btn-success mt-4" %>
      <% end %>
    </div>
  </div>
<% end %>
  

<script>
  document.getElementById("add-menu-button").addEventListener("click", function() {
    var container = document.getElementById("meal-menus");
    var mealMenus = container.getElementsByClassName("meal-menu");
    
    // 非表示のフォームを検索し、最初の非表示フォームを表示する
    for (var i = 0; i < mealMenus.length; i++) {
      if (mealMenus[i].style.display === "none") {
        mealMenus[i].style.display = "flex";
        break;
      }
    }
  });
  document.getElementById("hide-menu-button").addEventListener("click", function() {
    var container = document.getElementById("meal-menus");
    var mealMenus = container.getElementsByClassName("meal-menu");
    
    // 非表示のフォームを検索し、最初の表示されているフォームを非表示にする
    for (var i = 0; i < mealMenus.length; i++) {
      if (mealMenus[i].style.display !== "none") {
        mealMenus[i].style.display = "none";
        break;
      }
    }
  });
</script>