<div class="meal-wrapper d-flex">
    <% post_meals.each do |post_meal| %>
      <%= link_to post_meal_path(post_meal), class: 'no-decoration' do %>
        <div class="meal d-flex">
          <% if post_meal.image.attached? %>
            <%= image_tag post_meal.image, class: "profile-image" %>
          <% else %>
            <%= image_tag 'noimage.jpg', class: "no-image" %>
          <% end %>
          <div class="meal-menu">
            <p><%= post_meal.date.strftime("%Y-%m-%d") %></p>
            <p><%= post_meal.memo.truncate(18, omission: "...") %></p>
            <!-- いいね機能 -->            
            <span id="meal_likes_<%= post_meal.id %>">
            <p><%= render "like-btn", post_meal: post_meal %></p>
            </span>
          </div>
        </div>
      <% end %>
    <% end %>
</div>