<div class="post-meal container mt-4">
  <h2>Meal Post Details</h2>

  <div class="post-meal__profile mb-4 d-flex justify-content-center">
      <%= image_tag @post_meal.end_user.get_profile_image(100, 100), class: "profile-image" %>
      <p><%= link_to @post_meal.end_user.first_name, end_user_path(@post_meal.end_user) %></p>
  </div>

  <div class="post-meal__content d-flex">
    <div class="post-meal__details">
      <h4><%= @post_meal.start_time.strftime("%Y-%m-%d") %></h4>
      <% if @post_meal.image.attached? %>
        <%= image_tag @post_meal.image, class: "fitness-image" %>
      <% else %>
        <%= image_tag 'noimage.jpg', class: "no-image" %>
      <% end %>
    </div>
    <div class="post-meal__details">
      <h4>Meal Timing</h4>
      <p><%= @post_meal.timing_i18n %></p>
      <h4>Meal Type</h4>
      <p><%= @post_meal.meal_type_i18n %></p>
      <h4>Memo</h4>
      <p><%= @post_meal.memo %></p>

      <% if @post_meal.meal_menus.any? %>
        <h4>Menu</h4>
        <% @post_meal.meal_menus.each do |menu| %>
          <div class="post-meal__menu">
            <h4>Title</h4>
            <p><%= menu.title %></p>
            <h4>Amount</h4>
            <p><%= menu.quantity %>g</p>
            <h4>Calories</h4>
            <p><%= menu.calorie %>カロリー</p>
          </div>
        <% end %>
      <% end %>

      <!-- いいね機能 -->
      <div class="post-meal__like">       
        <span id="meal_likes_<%= @post_meal.id %>">
          <p><%= render "like-btn", post_meal: @post_meal %></p>
        </span>
        <%= link_to "いいね", meal_likes_end_user_path %>
      </div>
      <!-- タグリスト -->
      <% @post_meal_tags.each do |tag| %>
        <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to tag.name,search_meal_tag_path(meal_tag_id: tag.id) %>
      <% end %>
      <!-- コメント機能 -->
      <p>コメント数:<%= @post_meal.meal_comments.count %></p>
        <div id="post-meal__comment">
          <%= render 'comment-index', post_meal: @post_meal %>
        </div>
        <div id="post-meal__form">
          <%= render 'comment-form', post_meal: @post_meal, meal_comment: @meal_comment %>
        </div>
    </div>
  </div>
  <div class="post-meal__action-links">
    <%= link_to edit_post_meal_path, :class => "btn btn-success ms-3" do %>
      <i class="fa-sharp fa-solid fa-pen-to-square"></i>
    <% end %>
    <%= link_to post_meal_path, method: :delete, "data-confirm" => "本当に削除しますか？", :class => "btn btn-danger ms-3" do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </div>
</div>
