<div class="container workout-wrapper mt-4">
  <h2>食事投稿詳細</h2>

  <div class="enduser-wrapper mb-4 d-flex justify-content-center">
      <%= image_tag @post_meal.end_user.get_profile_image(100, 100), class: "profile-image" %>
    <p><%= @post_meal.end_user.first_name %></p>
  </div>

  <div class="workout d-flex">
    <div class="workout-menu">
      <h2><%= @post_meal.date.strftime("%Y-%m-%d") %></h2>
      <% if @post_meal.image.attached? %>
        <%= image_tag @post_meal.image, class: "fitness-image" %>
      <% else %>
        <%= image_tag 'noimage.jpg', class: "no-image" %>
      <% end %>
    </div>
    <div class="workout-menu">
      <h2>食事タイミング</h2>
      <p><%= @post_meal.timing_i18n %></p>
      <h2>食事タイプ</h2>
      <p><%= @post_meal.meal_type_i18n %></p>
      <h2>メモ</h2>
      <p><%= @post_meal.memo %></p>
      <!-- いいね機能 -->
      <div class="workout-likes">       
        <span id="meal_likes_<%= @post_meal.id %>">
          <p><%= render "like-btn", post_meal: @post_meal %></p>
        </span>
      <%= link_to "いいね", meal_likes_end_user_path %>
      </div>
      <!-- タグリスト -->
      <% @post_meal_tags.each do |tag| %>
      <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to tag.name,search_meal_tag_path(meal_tag_id: tag.id) %>
      <% end %>
      <!-- コメント機能 -->
      <p>コメント件数:<%= @post_meal.meal_comments.count %></p>
        <div id="meal-comments">
          <%= render 'comment-index', post_meal: @post_meal %>
        </div>
        <div id="comment-form">
          <%= render 'comment-form', post_meal: @post_meal, meal_comment: @meal_comment %>
        </div>
      </div>
    </div>
  <div class="workout-menu-link">
    <%= link_to "編集", edit_post_meal_path, :class => "btn btn-success ms-3" %>
    <%= link_to "削除", post_meal_path, method: :delete, "data-confirm" => "本当に削除しますか？", :class => "btn btn-danger ms-3" %>
  </div>
</div>
