<div class="container meal-wrapper mt-4">
  <h2>Meal Post Details</h2>

  <div class="enduser-wrapper mb-4 d-flex justify-content-center">
      <%= image_tag @post_meal.end_user.get_profile_image(100, 100), class: "profile-image" %>
      <p><%= link_to @post_meal.end_user.first_name, end_user_path(@post_meal.end_user) %></p>
  </div>

  <div class="meal-menu__wrapper d-flex">
    <div class="meal-menu">
      <h2><%= @post_meal.start_time.strftime("%Y-%m-%d") %></h2>
      <% if @post_meal.image.attached? %>
        <%= image_tag @post_meal.image, class: "fitness-image" %>
      <% else %>
        <%= image_tag 'noimage.jpg', class: "no-image" %>
      <% end %>
    </div>
    <div class="meal-menu">
      <h2>Meal Timing</h2>
      <p><%= @post_meal.timing_i18n %></p>
      <h2>Meal Type</h2>
      <p><%= @post_meal.meal_type_i18n %></p>
      <h2>Memo</h2>
      <p><%= @post_meal.memo %></p>

      <h4>Menu</h4>
      <% @post_meal.meal_menus.each do |menu| %>
      <div>
        <h2>Title</h2>
        <p><%= menu.title %></p>
        <h2>Amount</h2>
        <p><%= menu.quantity %>g</p>
        <h2>Calories</h2>
        <p><%= menu.calorie %>カロリー</p>
        </div>
      <% end %>

      <!-- いいね機能 -->
      <div class="meal-likes">       
        <span id="meal_likes_<%= @post_meal.id %>">
          <p><%= render "like-btn", post_meal: @post_meal %></p>
        </span>
        <%= link_to "いいね", meal_likes_end_user_path %>
      </div>
      <!-- タグリスト -->
      <% @post_meal_tags.each do |tag| %>
        <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to tag.name,search_meal_tag_path(meal_tag_id: tag.id) %>
      <% end %>
      <!-- コメント機能 -->
      <p>Number of comments:<%= @post_meal.meal_comments.count %></p>
        <div id="meal-comments">
          <%= render 'comment-index', post_meal: @post_meal %>
        </div>
        <div id="comment-form">
          <%= render 'comment-form', post_meal: @post_meal, meal_comment: @meal_comment %>
        </div>
    </div>
  </div>
  <div class="meal-menu-link">
    <%= link_to "編集", edit_post_meal_path, :class => "btn btn-success ms-3" %>
    <%= link_to "削除", post_meal_path, method: :delete, "data-confirm" => "本当に削除しますか？", :class => "btn btn-danger ms-3" %>
  </div>
</div>
