<div class="blog-wrapper d-flex">
    <% post_blogs.each do |post_blog| %>
      <%= link_to post_blog_path(post_blog), class: 'no-decoration' do %>
        <div class="blog d-flex">
          <% if post_blog.image.attached? %>
            <%= image_tag post_blog.image, class: "profile-image" %>
          <% else %>
            <%= image_tag 'noimage.jpg', class: "no-image" %>
          <% end %>
          <div class="blog-menu">
            <p><%= post_blog.title %></p>
            <p><%= post_blog.date.strftime("%Y-%m-%d") %></p>
            <p><%= post_blog.content.truncate(18, omission: "...") %></p>
            <p>コメント件数:<%= post_blog.blog_comments.count %></p>
            <!-- いいね機能 -->     
            <span id="blog_likes_<%= post_blog.id %>">
              <p><%= render "like-btn", post_blog: post_blog %></p>
            </span>
          </div>
        </div>
      <% end %>
    <% end %>
</div>