<div class="blog-index d-flex flex-wrap justify-content-center gap-4 pt-4">
  <% post_blogs.each do |post_blog| %>

  <div class="blog-index__wrapper p-3">
    <div class="blog-index__image">
      <%= link_to post_blog_path(post_blog), class: 'no-decoration' do %>
        <% if post_blog.image.attached? %>
          <%= image_tag post_blog.image, class: "profile-image" %>
        <% else %>
          <%= image_tag 'noimage.jpg', class: "no-image" %>
        <% end %>
      <% end %>
    </div>
      <p><%= link_to post_blog.end_user.user_name, end_user_path(post_blog.end_user) %></p>
      <p><%= post_blog.title.truncate(18, omission: "...") %></p>
      <div class="blog-index__details d-flex gap-2">
        <%= " #{time_ago_in_words(post_blog.created_at)}前" %>
        <!-- いいね機能 -->     
        <span id="blog_likes_<%= post_blog.id %>">
          <%= render "public/post_blogs/like-btn", post_blog: post_blog %>
        </span>
      </div>
    </div>
  <% end %>
</div>