<div class="container blog-wrapper mt-4">
  <h2>ブログ投稿詳細</h2>

  <div class="enduser-wrapper mb-4 d-flex justify-content-center">
    <%= image_tag @post_blog.end_user.get_profile_image(50, 50) %>
    <p><%= @post_blog.end_user.first_name %></p>
  </div>

  <div class="blog d-flex">
    <div class="blog-menu">
      <h2><%= @post_blog.date.strftime("%Y-%m-%d") %></h2>
      <% if @post_blog.image.attached? %>
        <%= image_tag @post_blog.image, class: "fitness-image" %>
      <% else %>
        <%= image_tag 'noimage.jpg', class: "no-image" %>
      <% end %>
    </div>
    <div class="blog-menu">
      <h2>タイトル</h2>
      <p><%= @post_blog.title %></p>
      <h2>内容</h2>
      <p><%= @post_blog.content %></p>
      <!-- いいね機能 -->
      <div class="workout-likes">
        <span id="blog_likes_<%= @post_blog.id %>">
          <%= render "like-btn", post_blog: @post_blog %>
        </span>
        <%= link_to "いいね", blog_likes_end_user_path %>
      </div>
      <!-- タグリスト -->
      <% @post_blog_tags.each do |tag| %>
      <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to tag.name,search_blog_tag_path(blog_tag_id: tag.id) %>
      <% end %>
      <!-- コメント機能 -->
      <p>コメント件数:<%= @post_blog.blog_comments.count %></p>
      <div id="blog-comments">
        <%= render 'comment-index', post_blog: @post_blog %>
      </div>
      <div id="comment-form">
        <%= render 'comment-form', post_blog: @post_blog, blog_comment: @blog_comment %>
      </div>
    </div>
  </div>
  <div class="blog-menu-link">
    <%= link_to "編集", edit_post_blog_path, :class => "btn btn-success ms-3" %>
    <%= link_to "削除", post_blog_path, method: :delete, "data-confirm" => "本当に削除しますか？", :class => "btn btn-danger ms-3" %>
  </div>
</div>