<%= link_to transition_path(notification) do %>
  <div>
    <%= image_tag notification.end_user.get_profile_image(30, 30) %>
    <%= link_to notification.subject.end_user.user_name, end_user_path(notification.subject.end_user) %>
    さんがあなたの
    <%= link_to '投稿', post_blog_path(notification.subject.post_blog) %>
    にコメントしました
    <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
  </div>
<% end %>