<nav class="navbar text-center">
  <% if end_user_signed_in? %>
    <div class="navbar navbar-brand">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', alt: "ロゴ", width: "70" %>
      <% end %>
      <!-- 検索機能 -->
      <div class="serch_form">
        <%= form_with url: search_path, local: true, method: :get do |f| %>
          <%= f.text_field :q, class:"form-control d-inline-block" %>
          <button class="btn btn-outline-success" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        <% end %>
      </div>
    </div>
    <ul class="navbar-nav justify-content-around" style="flex-direction:row;">
      <li class="nav-item">
        <%= link_to end_user_path(current_end_user) ,class: "nav-link" do %>
        <i class="fa-solid fa-user"></i>
        Mypage
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to weights_path, class: "nav-link" do %>
        <i class="fa-sharp fa-solid fa-dumbbell"></i>
        Weight
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to post_workouts_path ,class: "nav-link" do %>
        <i class="fa-sharp fa-solid fa-dumbbell"></i>
        Fitness
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to post_meals_path ,class: "nav-link" do %>
        <i class="fa-sharp fa-solid fa-utensils"></i>
        Meal
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to post_blogs_path ,class: "nav-link" do %>
        <i class="fa-sharp fa-solid fa-blog"></i>
        Blog
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to notifications_path, class: "nav-link" do %>
          <% if current_end_user && current_end_user.notifications.where(checked: false).exists? %>
            <i class="fa-sharp fa-solid fa-bell fa-beat" style="color: #f2ee7d;"></i>
          <% else %>
            <i class="fa-sharp fa-solid fa-bell"></i>
          <% end %>
          Notice
        <% end %>
      </li>
      <div>
        <li class="nav-item rounded-image" id="toggle-button">
          <%= image_tag current_end_user.get_profile_image(50, 50) %>
        </li>
        <div class="toggle-item">
          <li class="nav-item">
            <%= link_to profile_end_user_path(current_end_user), class: "nav-link" do %>
            <i class="fa-sharp fa-solid fa-address-card"></i>
            Plofile
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_end_user_session_path, method: :delete , class: "nav-link" do %>
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
            <% end %>
          </li>
        </div>
      </div>
        <% else %>
      <div class="navbar navbar-brand">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', alt: "ロゴ", width: "70" %>
        <% end %>
        <li class="nav-item">
          <%= link_to homes_about_path, class: "nav-link" do %>
        <i class="fa-solid fa-face-smile"></i>
          About
          <% end %>
        <li class="nav-item">
          <%= link_to new_end_user_registration_path, class: "nav-link" do %>
          <i class="fa-solid fa-user-plus"></i>
          Signup
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_end_user_session_path, class: "nav-link"  do %>
          <i class="fa-solid fa-right-to-bracket"></i>
          Login
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to end_users_guest_sign_in_path, class: "nav-link", method: :post  do %>
          <i class="fa-solid fa-right-to-bracket"></i>
          Guest
          <% end %>
        </li>
      </div>
      <% end %>
    </ul>
</nav>

<script>
$(function () {
  $("#toggle-button").click(function() {
    $(".toggle-item").slideToggle("");
  });
});
</script>