<nav class="navbar text-center">
    <div class="navbar navbar-brand">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', alt: "ロゴ", width: "70" %>
      <% end %>
      <!-- 検索機能 -->
      <%= search_form_for @q , url: search_path do |f| %>
        <%= f.search_field :title_cont, class:"form-control" %>
        <button class="btn btn-outline-success" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      <% end %>
    </div>
    <ul class="navbar-nav justify-content-around" style="flex-direction:row;">
      <% if end_user_signed_in? %>
      <li class="nav-item">
        <%= link_to end_users_mypage_path ,class: "nav-link" do %>
        <i class="fa-solid fa-user"></i>
        マイページ
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to post_workouts_path ,class: "nav-link" do %>
        <i class="fa-sharp fa-solid fa-dumbbell"></i>
        フィットネス
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to post_meals_path ,class: "nav-link" do %>
        <i class="fa-sharp fa-solid fa-utensils"></i>
        食事
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to post_blogs_path ,class: "nav-link" do %>
        <i class="fa-sharp fa-solid fa-blog"></i>
        ブログ
        <% end %>
      </li>
      <div>
        <li class="nav-item rounded-image" id="toggle-button">
          <%= image_tag current_end_user.get_profile_image(50, 50) %>
        </li>
        <div class="toggle-item">
          <li class="nav-item">
            <%= link_to end_users_profile_path, class: "nav-link" do %>
            <i class="fa-sharp fa-solid fa-address-card"></i>
            プロフィール
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_end_user_session_path, method: :delete , class: "nav-link" do %>
            <i class="fa-solid fa-right-from-bracket"></i>
            ログアウト
            <% end %>
          </li>
        </div>
      </div>
      <% elsif admin_signed_in? %>
      <li class="nav-item">
        <%= link_to admin_end_users_path ,class: "nav-link" do %>
        <i class="fa-solid fa-user-check"></i>
        会員一覧
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_post_workouts_path ,class: "nav-link" do %>
        <i class="fa-sharp fa-solid fa-dumbbell"></i>
        投稿一覧
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %>
      <i class="fa-solid fa-right-from-bracket"></i>
        ログアウト
        <% end %>
      </li>
        <% else %>
      <li class="nav-item">
        <%= link_to homes_about_path, class: "nav-link" do %>
      <i class="fa-solid fa-face-smile"></i>
        About
        <% end %>
      <li class="nav-item">
        <%= link_to post_workouts_path, class: "nav-link" do %>
      <i class="fa-sharp fa-solid fa-dumbbell"></i>
        投稿一覧
        <% end %>
      <li class="nav-item">
        <%= link_to new_end_user_registration_path, class: "nav-link" do %>
        <i class="fa-solid fa-user-plus"></i>
        新規登録
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_end_user_session_path, class: "nav-link"  do %>
        <i class="fa-solid fa-right-to-bracket"></i>
        ログイン
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to end_users_guest_sign_in_path, class: "nav-link", method: :post  do %>
        <i class="fa-solid fa-right-to-bracket"></i>
        ゲストログイン
        <% end %>
      </li>
      <% end %>
    </ul>
</nav>

<script>
$(function () {
  $("#toggle-button").click(function() {
    $(".toggle-item").slideToggle("");
  });
});
</script>