<!DOCTYPE html>
<html>
  <head>
    <title>OwnOne</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/58913d35d2.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=M+PLUS+Rounded+1c&family=Merriweather&family=Playfair+Display&display=swap" rel="stylesheet">
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body>
    <header id="header">
      <%= render 'layouts/header' %>
      <% if Rails.env.production? %>
        <%= render 'layouts/google_analytics' %>
      <% end %>
    </header>
    <main>
      <% if flash[:notice] %>
        <p class="alert alert-primary mb-0"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="alert alert-danger mb-0"><%= flash.now[:alert] %></p>
      <% end %>
      <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>

<script>
  $(function () {
    var $header = $("#header");
    // スクロール位置の閾値を設定
    var scrollPosition = 400; 

    $(window).on("scroll", function () {
      var value = $(this).scrollTop();
      // スクロール位置が閾値を超えたら.scroll付与
      if (value > scrollPosition) { 
        $header.addClass("scroll");
      } else {
        $header.removeClass("scroll");
      }
    });
  });
</script>
